h1{
    text-align: center;
}
img{
    width: 80px;
    padding: 6px;
}
nav{
    background-color: cornflowerblue;
}
.textoliga{
    padding: 20px;
    font-size: large;

}
.page-footer{
    background-color:rgb(234, 149, 37);
}
.cuatrograndes{
    padding: auto;
    border-radius: 100px;
}
.carrusel .carrusel-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 500px;
    height: 500px;
}
.carrusel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 15px;
}
.tituloid{
    text-align: center;
}
.parraid{
    padding: 50px;

}
button{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 20px;
    background-color: #d7721a; /* Color del botón */
    color: white; /* Color del texto */
    border: none;
    cursor: pointer;
    text-decoration: none;
}
table .patrocinadores {
    width: 30px;
}
.imgred{
    width: 5px;
}
.botonre{
    align-content: center;
}