h1{
    text-align: center;
}
img{
    width: 80px;
    padding: 6px;
}
nav{
    background-color: cornflowerblue;
}
.textoliga{
    padding: 20px;

}
.page-footer{
    background-color: cornflowerblue;
}
.cuatrograndes{
    padding: auto;
    border-radius: 100px;
}